@model PizzaExpress.Models.Produto





<h3>Você tem certeza que deseja excluir?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoProduto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Deletar" class="form-control" >
            @Html.ActionLink("Pesquisar Cliente", "Index")
        </div>
    }
</div>
