@model PizzaExpress.Models.Produto

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoProduto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.IdProduto}) 
    @Html.ActionLink("Pesquisar Cliente", "Index")
</p>
