@model IEnumerable<PizzaExpress.Models.Produto>

<div id="divlistaprodutos">
<p>
    @Html.ActionLink("Cadastrar novo produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoProduto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoProduto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.IdProduto }) 
            @Html.ActionLink("Detalhes", "Details", new {  id=item.IdProduto }) 
            @Html.ActionLink("Deletar", "Delete", new {  id=item.IdProduto })
        </td>
    </tr>
}

</table>
    </div>