@model IEnumerable<PizzaExpress.Models.Cliente>

@{
    ViewBag.Title = "ProcurarCliente";
}


<div id="divlistaclientes">
<p>
    @Html.ActionLink("Cadastrar novo cliente", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.IdCliente  }) 
            @Html.ActionLink("Detalhes", "Details", new {  id=item.IdCliente  }) 
            @Html.ActionLink("Deletar", "Delete", new {  id=item.IdCliente})
        </td>
    </tr>
}

</table>
    </div>