@model PizzaExpress.Models.Sabor

<div>
    <h4>Sabor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdSabor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSabor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeSabor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeSabor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescSabor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescSabor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoSabor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoSabor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
