@model IEnumerable<PizzaExpress.Models.Sabor>
<div id="divlistasabores">
<p>
    @Html.ActionLink("Cadastrar novo sabor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSabor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeSabor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescSabor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoSabor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdSabor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeSabor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescSabor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoSabor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.IdSabor }) |
            @Html.ActionLink("Detalhes", "Details", new {  id=item.IdSabor }) |
            @Html.ActionLink("Deletar", "Delete", new {  id=item.IdSabor  })
        </td>
    </tr>
}

</table>
    </div>