@model IEnumerable<PizzaExpress.Models.Pedido>
<div id="divlistapedidos">
<p>
    @Html.ActionLink("Cadastrar", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.NumPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPedido)
        </th>
        <th>
            Sabor 1
        </th>
        <th>
            Sabor 2
        </th>
        <th>
            Sabor 3
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            
            <td>
                @Html.DisplayFor(modelItem => item.NumPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjPizza.Sabores[0].DescSabor);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjPizza.Sabores[1].DescSabor);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjPizza.Sabores[2].DescSabor);
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.NumPedido }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.NumPedido }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.NumPedido })
                
                
               
                
            </td>
        </tr>
    }

</table>
</div>