@model IEnumerable<PizzaExpress.Models.Pedido>

@{
    ViewBag.Title = "ProcurarPedido";
}

<h2>ProcurarPedido</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPedido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPedido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
