@model IEnumerable<PizzaExpress.Models.Pedido>
<div id="divlistapedidos">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.NumPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPedido)
        </th>
        <th>
            Sabor 1
        </th>
        <th>
            Sabor 2
        </th>
        <th>
            Sabor 3
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            
            <td>
                @Html.DisplayFor(modelItem => item.NumPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjPizza.ObjListaSabor1.DescSabor);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjPizza.ObjListaSabor2.DescSabor);
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjPizza.ObjListSabor3.DescSabor);
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NumPedido }) |
                @Html.ActionLink("Details", "Details", new { id = item.NumPedido }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NumPedido })
                @Html.ActionLink("Pizza", "Details", "Pizza", new { id = item.ObjPizza.IdPizza },null)
                @Html.ActionLink("Produto", "Details", "Produto", new { id = item.ObjProduto.IdProduto},null)
                @Html.ActionLink("Cliente", "Details", "Cliente", new { id = item.ObjCliente.IdCliente }, null)
                
            </td>
        </tr>
    }

</table>
</div>